@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-cream: #f4ecd9;
  --color-brown: #a35c00;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* ===== 全体フォント（まずはこれ） ===== */
body {
  background: var(--color-cream);
  color: var(--foreground);
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

/* ===== フォント切り替え用クラス ===== */

/* ① ゆるかわ（おすすめ） */
.font-kiwi {
  font-family: 'Kiwi Maru', sans-serif;
}

/* ② ポップ */
.font-rounded {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

/* ③ 手書き */
.font-yomogi {
  font-family: 'Yomogi', cursive;
}


.speech-bubble {
  position: absolute;
  bottom: 100%;
  left: -5%;
  margin-bottom: 12px;
  color: #5a3a00;

  background: #fff;
  border-radius: 16px;
  padding: 10px 14px;
  width: max-content;
  max-width: 220px;

  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
  z-index: 10;
}
.speech-bubble::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0%;
  width: 14px;
  height: 14px;
  background: #fff;
  transform: translateX(50%) rotate(45deg);
  margin-top: -7px;
}